*{
    padding: 0;
    margin: 0;
}

.join_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 350px;
    height: 240px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #444;
    display: none;
}

.join_modal h2{
    text-align: center;
    line-height: 50px;
}

.join_modal input[name='userid']{
    width: 230px;
    padding-left: 10px;
    height: 40px;
}

.join_modal button[type='button']{
    width: 100px;
    height: 40px;
}

.join_modal input[name='name']{
    margin-top: 5px;
    width: 335px;
    height: 40px;
    padding-left: 10px;
}

.join_modal input[name='userpw']{
    width: 335px;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
}

.join_modal button[type='submit']{
    margin-left: 90px;
}

.join_modal button[type='submit'], .join_modal button[type='reset']{
    width: 90px;
    height: 35px;
    margin-top: 10px;
}

.login_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 300px;
    height: 215px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #444;
    display: none;
}

.login_modal h2{
    text-align: center;
    line-height: 50px;
}

.login_modal input[name='userid']{
    width: 285px;
    height: 40px;
    padding-left: 10px;
}

.login_modal input[name='userpw']{
    width: 285px;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
}

.login_modal select{
    margin-top: 5px;
}

.login_modal button[type='submit']{
    margin-left: 60px;
}

.login_modal button[type='submit'], .login_modal button[type='reset']{
    width: 90px;
    height: 35px;
    margin-top: 10px;
}

.booth_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 5px #444;
    display: none;
}

.booth_area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.booth, .booth_admin{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}